[Unit]
Description=Telegram Bot for the Boulder Ping Group
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/boulder-bot
